<section ng-controller="GastosController as controller">

<div class="text-center">
    <header class="text-primary">
    	<h4>Control de Gastos</h4>
    </header>
    <br>

	<form class="form-horizontal" role="form">

		<div class="form-group">
	    		<label for="inputUsuario" class="control-label">Usuario</label>
	      		<input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" class="form-group has-error">
	  	</div>
	  
	  	<div class="form-group">
	      		<label for="inputPassword" class="control-label">Contraseña</label>
	      		<input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" class="form-group has-error">
	  	</div>
	</form>

	<button type="button" class="btn btn-success" ng-click="ingresar()" aria-hidden="true">Ingresar</button>

   	<div class="registrar_position">
   	    <small> 
   	    	<a href="views/registracion.html">
   	    		¿No tenes usuario registrado?
   	    	</a>
   	    </small>
   	</div>
</div>
</section>
