<section ng-controller="LoginController as controller">

<div class="text-center">
    <header class="text-primary">
    	<h2>Control de Gastos</h2>
    </header>
    <br>

	<div>
	   	<label class="control-label">Usuario</label>
	   	<input type="text" name="inputUsuario" id="inputUsuario" placeholder="Usuario" data-ng-model="controller.usuario" required>
		<span ng-show="!inputUsuario.$pristine && inputUsuario.$error.required">El nombre de usuario es obligatorio</span>

	</div>
	  
	<div>
	  	<label class="control-label">Contraseña</label>
	   	<input type="password" id="inputPassword" name="inputPassword" placeholder="Contraseña" data-ng-model="controller.pass" required="true">

	   	<span ng-show="!inputPassword.$pristine && inputPassword.$error.required">Debe ingresar la contraseña</span>
	</div>

	<button type="button" class="btn btn-success" ng-click="ingresar()" aria-hidden="true">Ingresar</button>

   	<div class="registrar_position">
   	    <small> 
   	    	<a ui-sref="registracion">¿No tenes usuario registrado?</a>
   	    </small>
   	</div>

	<div class="example-animate-container" style="padding-top:10px">
		<div class="alert alert-danger animate-repeat" ng-repeat="error in controller.errors">{{error}}</div>
	</div>

</div>
</section>
