<section ng-controller="LoginController as controller">
	<div class="text-center">
		<header class="text-primary">
    		<h3>Nuevo Gasto</h4>
    	</header>
    <br>

    <label class="control-label">Descripcion</label>
	<input type="text" name="inputDescripcion" id="inputDescripcion" data-ng-model="controller.descripcion" size="30" width="40">

    <label class="control-label">Monto</label>
	<input type="text" name="inputMonto" id="inputMonto" data-ng-model="controller.monto" size="30" width="40">

	<button type="button" class="btn btn-success" ng-click="nuevoGasto()" aria-hidden="true">Agregar</button>
	
	</div>
</section>
