<section ng-controller="GastosController as controller">

<div class="text-center">
    <header class="text-primary">
    	<h4>Control de Gastos</h4>
    	<h2>Registracion</h2>
    </header>
    <br>

	<div>
	    <label class="control-label">Nombre de usuario</label>
	    <input type="text" id="inputUsuario" data-ng-model="controller.usuario.nombre">
	</div>
	  
	<div>
	    <label class="control-label">Contraseña</label>
	    <input type="password" id="inputPassword" data-ng-model="controller.usuario.pass">
	</div>
	
	<button type="button" class="btn btn-success" ng-click="altaUsuario()" aria-hidden="true">Registrarme</button>
</div>
</section>
