
#loading {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor: not-allowed;
    filter: alpha(opacity=60);
    opacity: 0.6;
 }

.mi-navbar{
    opacity: 0.8;
    background-color:#610B0B;
}

.mi-row{
  color: darkgrey;
  top: 10px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

.logo{
  width: 100px;
  display: inline-block;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -3%;
}

.top-center{
    width: 30%;
    position: fixed;
    left: 50%;
    transform:translateX(-50%);
    top: 50px;
}